@font-face {
    font-family: sans;
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/IRANSansWeb(FaNum).eot');
    src: url('../fonts/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), url('../fonts/IRANSansWeb(FaNum).woff') format('woff2'), url('../fonts/IRANSansWeb(FaNum).woff') format('woff'), url('../fonts/IRANSansWeb(FaNum).ttf') format('truetype');
}
body{font-family: sans;}
@font-face {
    font-family: Mj_Dinar;
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/Mj_Dinar One Light_p30download.com.ttf');
    src: url('../fonts/Mj_Dinar One Light_p30download.com.ttf') format('embedded-opentype'), url('../fonts/Mj_Dinar One Light_p30download.com.ttf') format('woff2'), url('../fonts/Mj_Dinar One Light_p30download.com.ttf') format('woff'), url('../fonts/Mj_Dinar One Light_p30download.com.ttf') format('truetype');
}
body{font-family: sans;}