.row{width: 100%;margin: auto;}
.container{width: 95%}
.br{margin-top: 10%;background: #e7e7e7}
.rg{margin-top: 7%;background: #e7e7e7}
.cp{margin-top: 6.7%}
.cp .col-md-3{padding: 0% 0% 0% 1%}
.pr{margin-top: 1%}
.background{background-image: url(../images/panel/shutterstock.jpg)}
.well{background: rgba(224, 218, 218, 0.6) !important;border-radius:10px}
/** topmenu **/
.topmenu{height: 20px;background: #000}
.topmenu .ltr p{direction: ltr;text-align: left}
.topmenu img{background: #000;padding: 1% 4%;border-radius: 0px 0px 10px 10px;width: 15.5%;}
.topmenu p{color: #fff;font-size: 1vw;}
.topmenu .col-lg-2,
.topmenu .col-lg-8{padding: 0%}
.topmenu a{position:relative;z-index:110;}

/**/
section {
	float: left;
	width: 100%;
	padding:1% 0%;
}
/**/
.login{position: absolute;z-index: 111;}
.login .padd{padding-top: 2%;text-align: left;}
.login .col-lg-4{padding: 0%}
.login li{display: inline;}
.login button{background: #fff;border-radius:10px;font-family:Mj_Dinar}
.login button:hover{background:#000;color:#fff;transition: all .5s ease-in-out}
/* TOP HEADER -------------------------------------------------- */
.menu-u{position: absolute;z-index: 111;top: 17%;}
.menu-u ul{margin: 0% !important;padding: 0% 5%}
.menu-u blockquote, q {quotes: none;}
.menu-u blockquote:before,
.menu-u blockquote:after,
.menu-u q:before,
.menu-u q:after {content: '';content: none;}
.menu-u table {border-collapse: collapse;border-spacing: 0;}
.menu-u header h2{margin: 25px 10px;font-size: 28px;text-align: center;color: cornsilk;}
.menu-u nav.menu {background:rgba(183, 135, 55,0.8);position: relative;
    min-height: 45px;height: 100%;width: 100%;
}
.menu-u .menu > ul > li {list-style: none;display: inline-block;color: #fff;line-height: 45px;}
.menu-u .menu > ul li a, .xs-menu li a {text-decoration: none;color: #fff;display:block;}
.menu-u .menu > ul li a:hover {color:#000 ;-webkit-transition-duration: 0.5s;
	;transition-duration: 0.5s;-moz-transition-duration: 0.5s;
}
.menu-u .menu .home{width:7.2%;text-align: center}
.menu-u .menu img{width:50%;margin-top: 10%}
.menu-u .menu  a{padding: 0%;font-size: 0.8vw}
/* .menu-u .active{background:#090909 !important;} */
.menu-u .displaynone{display: none;}
.menu-u .xs-menu-cont{display:none;}
.menu-u .xs-menu-cont > a {background: none repeat scroll 0 0 #c09958;border-radius: 3px;padding: 3px 6px;
    display: block;border-bottom:1px solid #c09958;box-shadow: 0 1px 2px #c09958;-moz-box-shadow: 0 1px 2px #c09958;-webkit-box-shadow: 0 1px 2px #c09958;
}
.menu-u .xs-menu-cont > a:hover{cursor: pointer;}
.menu-u .xs-menu li {color: #fff;padding: 14px 30px;border-bottom: 1px solid #ccc;background: #c09958;}
.menu-u .xs-menu  a{text-decoration:none;}
.menu-u .mega-menu {background:none repeat scroll 0 0 #c09958;left: 0;margin-top: 3px;
    width: 100%;padding:15px;display:none;transition-duration: 0.9s;position: absolute;
}
.menu-u #menutoggle i {color: #fff;font-size: 33px;margin: 0;padding: 0;}
/*--column--*/
.menu-u .mm-6column:after,
.menu-u .mm-6column:before,
.menu-u .mm-3column:after,
.menu-u .mm-3column:before{content:"";display:table;clear:both;}
.menu-u .mm-6column,
.menu-u .mm-3column {float: left;position: relative;}
.menu-u .mm-6column {width: 50%;}
.menu-u .mm-3column {width: 25%;}
.menu-u .responsive-img {display: block;max-width: 100%;}
.menu-u .left-images{margin-right:25px;}
.menu-u .left-images,
.menu-u .left-categories-list {float: left;}
.menu-u .categories-list li {display: block;line-height: normal; margin: 0;padding: 5px 0;}
.menu-u .categories-list li :hover{background:inherit !important;}
.menu-u .left-images > p {background: none repeat scroll 0 0 #ff7f50;
    display: block;font-size: 18px;line-height: normal;margin: 0;padding: 5px 14px;
}
.menu-u .categories-list span {font-size: 18px;padding-bottom: 5px;text-transform: uppercase;}
.menu-u .mm-view-more{background: none repeat scroll 0 0 #ff7f50;color: #fff;
    display: inline !important;line-height: normal;padding: 5px 8px !important;margin-top:10px;
}
.menu-u .display-on{display:block;transition-duration: 0.9s;}
/*MediaQuerys*/
@media (max-width: 600px) {
    .menu-u .menu {display:none;}
    .menu-u .xs-menu li a {padding:0px;}
    .menu-u .xs-menu-cont{display:block ;}
}
/*Animation--*/
.menu-u .animated {-webkit-animation-duration: 1s;animation-fill-mode: both;
  animation-duration: 1s;-webkit-animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes fadeIn {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
.menu-u .fadeIn {-webkit-animation-name: fadeIn;animation-name: fadeIn;}
.menu-u .categories-list li{text-align: right}
/* CUSTOMIZE THE CAROUSEL -------------------------------------------------- */
.select-t #search-banner{margin-top: -25%;position: absolute;z-index: 1;}
.select-t .form-group .form-control{background: transparent;color: #fff;border-radius:0px;
    border-color:#b78737}
.select-t .card-body p{font-family: Mj_Dinar;text-align: right}
.select-t .card{background-color:rgba(0, 0, 0,0.5);}
.select-t .card .btn-warning{border-radius: 0%;font-family: Mj_Dinar;
    background: #b78737;border-color:#b78737;color:#fff;margin-top:26%;
}
.swiper-container {width: 100%;height: 100vh;}
.swiper-slide {text-align:center;font-size:18px;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;
	background:#fff;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;align-items:center;
	-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items: center;
}
.main-slider .slider-bg-position {background-size:cover!important;background-position:center center!important;}
.main-slider .swiper-button-prev,
.main-slider .swiper-button-next {background-image: none!important;color: #fff;width: 50px;
	height: 50px;border: 1px solid #fff;text-align: center;line-height: 50px;font-size: 20px;
}
.main-slider h2 {
	color: #fff;
	font-size: 54px;
	line-height: 59px;
	padding: 0 19%;
	text-transform: uppercase;
}
.main-slider .swiper-pagination-bullet {
	width: 20px;
	height: 20px;
	background: rgba(255,255,255,0.9)
}
.main-slider .swiper-pagination-bullet-active {
	background: #0297ff
}
.swiper-container{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;z-index:1}
.swiper-container-no-flexbox .swiper-slide{float:left}
.swiper-container-vertical>.swiper-wrapper{-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate(0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.swiper-container-multirow>.swiper-wrapper{-webkit-box-lines:multiple;-moz-box-lines:multiple;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap}.swiper-container-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}.swiper-slide{-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:100%;position:relative}.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}.swiper-container-autoheight .swiper-wrapper{-webkit-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;align-items:flex-start;-webkit-transition-property:-webkit-transform,height;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform,height}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-wp8-horizontal{-ms-touch-action:pan-y;touch-action:pan-y}.swiper-wp8-vertical{-ms-touch-action:pan-x;touch-action:pan-x}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:27px;height:44px;margin-top:-22px;z-index:10;cursor:pointer;-moz-background-size:27px 44px;-webkit-background-size:27px 44px;background-size:27px 44px;background-position:center;background-repeat:no-repeat}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");left:10px;right:auto}.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");right:10px;left:auto}.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-pagination{position:absolute;text-align:center;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-moz-appearance:none;-ms-appearance:none;-webkit-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-white .swiper-pagination-bullet{background:#fff}.swiper-pagination-bullet-active{opacity:1;background:#007aff}.swiper-pagination-white .swiper-pagination-bullet-active{background:#fff}.swiper-pagination-black .swiper-pagination-bullet-active{background:#000}.swiper-container-vertical>.swiper-pagination-bullets{right:10px;top:50%;-webkit-transform:translate3d(0,-50%,0);-moz-transform:translate3d(0,-50%,0);-o-transform:translate(0,-50%);-ms-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0)}.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:5px 0;display:block}.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 5px}.swiper-pagination-progress{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination-progress .swiper-pagination-progressbar{background:#007aff;position:absolute;left:0;top:0;width:100%;height:100%;-webkit-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);-webkit-transform-origin:left top;-moz-transform-origin:left top;-ms-transform-origin:left top;-o-transform-origin:left top;transform-origin:left top}.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar{-webkit-transform-origin:right top;-moz-transform-origin:right top;-ms-transform-origin:right top;-o-transform-origin:right top;transform-origin:right top}.swiper-container-horizontal>.swiper-pagination-progress{width:100%;height:4px;left:0;top:0}.swiper-container-vertical>.swiper-pagination-progress{width:4px;height:100%;left:0;top:0}.swiper-pagination-progress.swiper-pagination-white{background:rgba(255,255,255,.5)}.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar{background:#fff}.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar{background:#000}.swiper-container-3d{-webkit-perspective:1200px;-moz-perspective:1200px;-o-perspective:1200px;perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-top{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:-webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-coverflow .swiper-wrapper,.swiper-container-flip .swiper-wrapper{-ms-perspective:1200px}.swiper-container-cube,.swiper-container-flip{overflow:visible}.swiper-container-cube .swiper-slide,.swiper-container-flip .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;z-index:1}.swiper-container-cube .swiper-slide .swiper-slide,.swiper-container-flip .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active,.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top,.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-cube .swiper-slide{visibility:hidden;-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;width:100%;height:100%}.swiper-container-cube.swiper-container-rtl .swiper-slide{-webkit-transform-origin:100% 0;-moz-transform-origin:100% 0;-ms-transform-origin:100% 0;transform-origin:100% 0}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0;width:100%;height:100%;background:#000;opacity:.6;-webkit-filter:blur(50px);filter:blur(50px);z-index:0}.swiper-container-fade.swiper-container-free-mode .swiper-slide{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-zoom-container{width:100%;height:100%;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;text-align:center}.swiper-zoom-container>canvas,.swiper-zoom-container>img,.swiper-zoom-container>svg{max-width:100%;max-height:100%;object-fit:contain}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;-webkit-transform-origin:50%;-moz-transform-origin:50%;transform-origin:50%;-webkit-animation:swiper-preloader-spin 1s steps(12,end) infinite;-moz-animation:swiper-preloader-spin 1s steps(12,end) infinite;animation:swiper-preloader-spin 1s steps(12,end) infinite}.swiper-lazy-preloader:after{display:block;content:"";width:100%;height:100%;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");background-position:50%;-webkit-background-size:100%;background-size:100%;background-repeat:no-repeat}.swiper-lazy-preloader-white:after{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")}@-webkit-keyframes swiper-preloader-spin{100%{-webkit-transform:rotate(360deg)}}@keyframes swiper-preloader-spin{100%{transform:rotate(360deg)}}

/* baner -------------------------------------------------- */
.baner hr{border-top: 3px solid rgb(183, 135, 44);margin-top:1.65rem}
.baner img{width: 20%}
.baner .col-lg-5,
.baner .col-lg-2{padding: 0%}
/* about-us -------------------------------------------------- */
.about-us .title{text-align: center}
.about-us li{display: block}
.about-us li img{width: 1%}
.about-us ul{padding: 0%}
/* footer -------------------------------------------------- */
.action-sec{background: #000;}
.action-sec li{display: block;font-size: 1vw;color: #b78737}
.action-sec span{color: #fff}
.action-sec .flaticon{font-size:1vw}
/* product -------------------------------------------------- */
.product .col-md-3 .card{height: 300px;}
.product .card-body h6{color: #b78737}
.product #ads .card-notify-badge {
	position: absolute;
	left: -10px;
	top: -20px;
	background: #f2d900;
	text-align: center;
	border-radius: 30px 30px 30px 30px; 
	color: #000;
	padding: 5px 10px;
	font-size: 14px;
}
.product #ads .card-notify-year {
	position: absolute;
	right:0px;
	top:0px;
	background: #b78737;
	border-radius: 50%;
	text-align: center;
	color: #fff;      
	font-size: 14px;      
	width: 50px;
	height: 50px;    
	padding: 10px 0 0 0;
}
.product #ads .card-detail-badge {      
	background: #f2d900;
	text-align: center;
	border-radius: 30px 30px 30px 30px;
	color: #000;
	padding: 5px 10px;
	font-size: 14px;        
}
.product #ads .card:hover {
	background: #fff;
	box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
	border-radius: 4px;
	transition: all 0.3s ease;
}
.product #ads .card-image-overlay {
	font-size: 20px;
	
}
.product #ads .card-image-overlay span {
	display: inline-block;              
}
.product #ads .ad-btn {
	text-transform: uppercase;
	width: 150px;
	height: 40px;
	border-radius: 80px;
	font-size: 16px;
	line-height: 35px;
	text-align: center;
	border: 3px solid #e6de08;
	display: block;
	text-decoration: none;
	margin: 20px auto 1px auto;
	color: #000;
	overflow: hidden;        
	position: relative;
	background-color: #e6de08;
}
.product #ads .ad-btn:hover {
	background-color: #e6de08;
	color: #1e1717;
	border: 2px solid #e6de08;
	background: transparent;
	transition: all 0.3s ease;
	box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
}
.product #ads .ad-title h5 {
	text-transform: uppercase;
	font-size: 18px;
}
.product .form-control{border-radius: 0%}
/* register -------------------------------------------------- */
.register nav > .nav.nav-tabs{border:none;color:#fff;border-radius:0;width: 100%}
.register .bac{background: #fff;padding: 1.25% 0% 0%;}
.register #nav-tabContent{width: 100%;}
.register #nav-tabContent .col-lg-4 p{font-size:1vw}
.register nav > div a.nav-item.nav-link,
.register nav > div a.nav-item.nav-link.active{border-bottom: 3px solid #000;
	padding: 18px 25px;color:#000;background:transparent;border-radius:0;
}
.register .tab-content{background:transparent;line-height: 25px;padding:30px 25px;}
.register nav > div a.nav-item.nav-link:hover,
.register nav > div a.nav-item.nav-link:focus{border-bottom: 3px solid #b78737;
	color:#000;border-radius:0;transition:background 0.20s linear;
}
.register .btn-warning{float:left;background:#b78737;border-color:#b78737;padding:1%;color:#fff}
.register .buying-selling.active {background: #b78737;   }
.register .buying-selling {width: 30%; padding: 10px;position: relative;}
.register .buying-selling-word {font-size: 15px;font-weight: 600;margin-left: 22px;}
.register .radio-dot:before,
.register .radio-dot:after {content: "";display: block;
	position: absolute;background: #fff;border-radius: 100%;
}
.register .radio-dot:before {width: 20px;height: 20px;border: 1px solid #ccc;top: 10px;left: 16px;}
.register .radio-dot:after {width: 12px;height: 12px;border-radius: 100%;top: 14px;left: 20px;}
.register .buying-selling.active .buying-selling-word {color: #fff;}
.register .buying-selling.active .radio-dot:after {background: #426C2A;}
.register .buying-selling.active .radio-dot:before {background: #fff;border-color: #699D17;}
.register .buying-selling:hover .radio-dot:before {border-color: #adadad;}
.register .buying-selling.active:hover .radio-dot:before {border-color: #699D17;}
.register .buying-selling.active .radio-dot:after {background: #426C2A;}
.register .buying-selling:hover .radio-dot:after {background: #e6e6e6;}
.register .buying-selling.active:hover .radio-dot:after{background: #426C2A;}
.register #buying-selling-group input{display: none}
@media (max-width: 400px) {
    .register .mobile-br {display: none;   }
    .register .buying-selling { width: 49%;padding: 10px;position: relative;}
}
/* product-details -------------------------------------------------- */
.detail .preview {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
@media screen and (max-width: 996px) {
	.detail .preview {margin-bottom: 20px;}
}
.detail .preview-pic {-webkit-box-flex: 1;-webkit-flex-grow: 1;-ms-flex-positive: 1;flex-grow: 1;}
.detail .preview-thumbnail.nav-tabs {border: none;margin-top: 15px;}
.detail .preview-thumbnail.nav-tabs li {width: 18%;margin-right: 2.5%; }
.detail .preview-thumbnail.nav-tabs li img {max-width: 100%;display: block;height:80px;}
.detail .preview-thumbnail.nav-tabs li a {padding: 0;margin: 0; }
.detail .preview-thumbnail.nav-tabs li:last-of-type {margin-right: 0; }
.detail .tab-content {overflow: hidden; }
.detail .tab-content img {-webkit-animation-name: opacity;animation-name: opacity;
	-webkit-animation-duration: .3s;animation-duration: .3s; width: 100%;
}
.detail .card {padding:1em;line-height: 1.5em; }
@media screen and (min-width: 997px) {
	.detail .wrapper {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex; } 
}
.detail .details {display: -webkit-box;flex-direction: column;
	display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;
	-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;
}
.detail .colors {-webkit-box-flex: 1;-webkit-flex-grow: 1;-ms-flex-positive: 1;flex-grow: 1;}
.detail .product-title,
.detail .price,
.detail .sizes,
.detail .colors {text-transform: UPPERCASE;font-weight: bold;}
.detail .checked, .detail .price span {color: #ff9f1a;}
.detail .product-title,
.detail .product-description,
.detail .price,
.detail .vote,
.detail .sizes {margin-bottom: 15px; }
.detail .product-title {margin-top: 0; }
.detail .size {margin-right: 10px; }
.detail .size:first-of-type {margin-left: 40px; }
.detail .color {display: inline-block;vertical-align: middle;
	height: 2em;width: 2em;border-radius: 2px;margin-right: 10px;
}
.detail .add-to-cart:hover, .detail .like:hover {background: #b36800;color: #fff; }
.detail .not-available {text-align: center;line-height: 2em; }
.detail .not-available:before {font-family: fontawesome;content: "\f00d";color: #fff; }
.detail .orange {background: #ff9f1a; }
.detail .green {background: #85ad00; }
.detail .blue {background: #0076ad; }
.detail .tooltip-inner {padding: 1.3em; }
@-webkit-keyframes opacity {
	0% {opacity: 0;-webkit-transform: scale(1.2);transform: scale(1.2); }
	100% {opacity: 1;-webkit-transform: scale(1);transform: scale(1); }
}
@keyframes opacity {
	0% {opacity: 0;-webkit-transform: scale(1.2);transform: scale(1.2); }
	100% {opacity: 1;-webkit-transform: scale(1);transform: scale(1); }
}
@media (max-width:576px){
	.detail .preview-thumbnail.nav-tabs li img{height:50px;}
	.detail .preview-thumbnail.nav-tabs li{margin-right:1.5%;}
}
.detail .rating {float:left;}
.detail .rating:not(:checked) > input {position:absolute;top:-9999px;clip:rect(0,0,0,0);}
.detail .rating:not(:checked) > label {float:right;width:1em;overflow:hidden;
	white-space:nowrap;cursor:pointer;color:#fff;
}
.detail .rating:not(:checked) > label:before {content: '★ ';}
.detail .rating > input:checked ~ label {color: gold;}
.detail .rating:not(:checked) > label:hover,
.detail .rating:not(:checked) > label:hover ~ label {color: gold;}
.detail .rating > input:checked + label:hover,
.detail .rating > input:checked + label:hover ~ label,
.detail .rating > input:checked ~ label:hover,
.detail .rating > input:checked ~ label:hover ~ label,
.detail .rating > label:hover ~ input:checked ~ label {color: gold;}
.detail .rating > label:active {position:relative;top:2px;left:2px;}
.detail .top{background: #e7e7e7;padding: 1% }
.detail .left{border-right: 1px solid #000}
.detail .product-body ul{padding: 0%}
.detail .product-body li{display: block}
.detail .prices{border: 1px solid #dadee3;height: 35px;margin-top: 4.35%;border-radius: 2px;padding: 1% 1%;}
.detail .prices span{float: left;}
.detail .product-body{padding-top: 1%}
.detail .carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.detail .carousel .item {
	min-height: 330px;
    text-align: center;
	overflow: hidden;
}
.detail .carousel .item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}
.detail .carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.detail .carousel .item h4 {
	font-size: 18px;
	margin: 10px 0;
}
.detail .carousel .item .btn {
	color: #fff;
	border-radius: 5px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background: #b7872c;
	border: 1px solid #b7872c;
	padding: 5px 10px;
	margin-top: 5px;
	line-height: 16px;
}
.detail .carousel .item .btn:hover,
.detail .carousel .item .btn:focus {
	color: #fff;
	background: #000;
	border-color: #000;
	box-shadow: none;
}
.detail .carousel .item .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.detail .carousel .thumb-wrapper {
	text-align: center;
	border:1px solid #b7872c;
	border-radius: 10px;
	padding-top: 5%;
	background: #fff
}
.detail .carousel .thumb-content {
	padding: 15px;
}
.detail .carousel .carousel-control {
	height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
}
.detail .carousel .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
.detail .carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.detail .carousel .item-price strike {
	color: #999;
	margin-right: 5px;
}
.detail .carousel .item-price span {
	color: #86bd57;
	font-size: 110%;
}
.detail .carousel .carousel-control.left i {
	margin-left: -3px;
}
.detail .carousel .carousel-control.left i {
	margin-right: -3px;
}
.detail .carousel .carousel-indicators {
	bottom: -50px;
}
.detail .carousel-indicators li, .detail .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
}
.detail .carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.detail .carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.detail .star-rating li {
	padding: 0;
}
.detail .star-rating i {
	font-size: 14px;
	color: #ffc000;
}
/* panel -------------------------------------------------- */
.nav-side-menu .brand img {width: 40%;border-radius: 50%;}
.nav-side-menu .brand span{font-size: 13px;line-height: 30px;color:#b78737;}
.nav-side-menu .brand {background-color:transparent;line-height: 2;display: block;text-align: center;font-size: 14px;}
.nav-side-menu .nav-side-menu .toggle-btn {display: none;}
.nav-side-menu ul,
.nav-side-menu li {list-style: none;padding: 0px;margin: 0px;line-height: 35px;cursor: pointer;}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {color: #d19b3d;}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {color: #d19b3d;}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {background-color: #020203;}
.nav-side-menu li {padding: 2% 0%;
	border: 1px solid #b78737;
	border-bottom: 1px solid #b78737;
	background: #fff;
	border-radius: 10px;
	margin-top: 2%}
.nav-side-menu li a {text-decoration: none;color:#000;font-size:1.2vw}
.sub-menu li a{color: #eeeeee;margin-right: 13%}
.nav-side-menu li a i {padding-left: 10px;width: 20px;padding-right: 20px;}
.nav-side-menu li:hover {background-color:#b78737;-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;-o-transition: all 1s ease;-ms-transition: all 1s ease;transition: all 1s ease;
}
.nav-side-menu {overflow: auto;font-size: 12px;background-color:rgba(224, 218, 218, 0.6) !important;
  top: 0px;width:100%;height: 100%;color:#000;font-weight: 200;border-radius:10px;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {background-color: #b78737;border: none;
  line-height: 28px;border-bottom: 1px solid #23282e;margin-left: 0px;
}
@media (max-width: 767px) {
  .nav-side-menu {position: relative;width: 100%;margin-bottom: 10px}
  .nav-side-menu .toggle-btn {display: block;cursor: pointer;position: absolute; z-index: 10 !important;top: 10px;
    padding: 3px;background-color: #ffffff;color: #000;width: 40px;text-align: center;right: 10px;
  }
  .nav-side-menu.brand {text-align: left !important;font-size: 22px;
    padding-left: 20px;line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {display: block;padding: 0% 3%}
}
/* panel -------------------------------------------------- */
.top-panel .btn{background: #b78737;color: #fff;width: 100%;font-size:0.9vw;border-radius: 10px;font-family:Mj_Dinar}
.top-panel .btn:hover{background: #000 !important;color: #fff !important;transition: all .5s ease-in-out;}
.Specifications-panel .table{background-color:#fff;margin-top:50px;}
.top-panel{padding:3% 0% 0%}
.documents-panel table img{width: 30%;}
.documents-panel table td{text-align: center}
.documents-panel .table{background-color:#fff;margin-top:50px;}
.orders-panel .table{background-color:#fff;margin-top:50px;font-size: 0.9vw;}
.orders-panel .table a{background: #000;border-color: #000;color: #fff;font-family: Mj_Dinar}
.ticket-panel .table{background-color:#fff;margin-top:50px;font-size: 0.9vw}
.ticket-panel .table a{background: #000;border-color: #000;color: #fff}
.ticket-panel .label-success {
    background-color: #b78737;
	color: #fff;
	padding: 5% 10%;
	border-radius: 5px;
}
/* register -------------------------------------------------- */
#exampleInputEmail1{border-radius:10px }
