    /*
    Flaticon icon font: Flaticon
    Creation date: 06/01/2019 21:39
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-placeholder:before { content: "\f100"; }
.flaticon-envelope:before { content: "\f101"; }
.flaticon-telegram:before { content: "\f102"; }
.flaticon-instagram:before { content: "\f103"; }
.flaticon-phone-call:before { content: "\f104"; }
.flaticon-down-arrow:before { content: "\f105"; }
.flaticon-avatar:before { content: "\f106"; }
.flaticon-lock:before { content: "\f107"; }
.flaticon-supermarket:before { content: "\f108"; }
.flaticon-whatsapp:before { content: "\f109"; }
    
    $font-Flaticon-placeholder: "\f100";
    $font-Flaticon-envelope: "\f101";
    $font-Flaticon-telegram: "\f102";
    $font-Flaticon-instagram: "\f103";
    $font-Flaticon-phone-call: "\f104";
    $font-Flaticon-down-arrow: "\f105";
    $font-Flaticon-avatar: "\f106";
    $font-Flaticon-lock: "\f107";
    $font-Flaticon-supermarket: "\f108";
    $font-Flaticon-whatsapp: "\f109";