	/*
  	Flaticon icon font: Flaticon
  	Creation date: 06/01/2019 21:39
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}
.product .card-notify-year .flaticon::before{margin-left: 0% !important}
.product .card-notify-year .flaticon{font-size: 20px}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
font-family: Flaticon;
font-style: normal;
margin-left: 10px;
}

.flaticon-placeholder:before { content: "\f100"; }
.flaticon-envelope:before { content: "\f101"; }
.flaticon-telegram:before { content: "\f102"; }
.flaticon-instagram:before { content: "\f103"; }
.flaticon-phone-call:before { content: "\f104"; }
.flaticon-down-arrow:before { content: "\f105"; }
.flaticon-avatar:before { content: "\f106"; }
.flaticon-lock:before { content: "\f107"; }
.flaticon-supermarket:before { content: "\f108"; }
.flaticon-whatsapp:before { content: "\f109"; }